.navbg {
  background-color: #ca0f01 !important;
}

.divider {
  width: 1px;
  height: 12px;
  background-color: white;
  margin: 14px 8px 0;
  /* margin-top: 14px; */
}

.nav-link {
  color: white !important; /* Set menu item text color to white */
}

.navbar-brand {
  position: relative; /* Ensure the navbar brand is positioned relative */
  z-index: 999; /* Set a high z-index to ensure the logo appears above other elements */
  margin-top: -50px; /* Adjust the margin-top as needed */
}

.navbar.scrolled.navbg {
  background-color: black !important; /* Change background color on scroll */
}

.navbar.scrolled .navbar-brand {
  margin-top: 0; /* Reset margin-top to regular position */
}

.navbar.scrolled .img-fluid {
  display: none; /* Hide the scLogo on scroll */
}
