.vertical-line {
  border-left: 1px solid #ccc; /* Adjust color as needed */
  height: 25%;
  position: absolute;
  left: 68%;
  transform: translateX(-50%);
}

.horizontal-line {
  border-bottom: 2px solid #ccc; /* Adjust color as needed */
  width: 100%;
  margin-bottom: 1rem; /* Adjust spacing as needed */
}

.darkbg {
  background-color: black;
}
